<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>

  <div *ngIf="feeds$ | async as feeds">
    <button mat-button [matMenuTriggerFor]="menu">
      Feeds
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addFeed()">Add new feed</button>
      <mat-divider></mat-divider>
      <button mat-menu-item *ngFor="let feed of feeds" [routerLink]="'/feeds/' + feed.id">
        {{ feed.displayName }}
      </button>
    </mat-menu>
  </div>

  <button mat-button routerLink="/snatches">Snatches</button>

  <span class="spacer"></span>

  <app-theme-switcher [options]="options$ | async" (themeChange)="themeChangeHandler($event)"></app-theme-switcher>

  <button mat-button (click)="goToGitHub()">
    <img class="github-icon" src="/assets/img/homepage/github-circle-white-transparent.svg" /> GitHub
  </button>
</mat-toolbar>
