<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="displayName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
    <td
      class="is-editable"
      [ngClass]="{ 'blurry-text': blur }"
      mat-cell
      *matCellDef="let element"
      (click)="editPattern(feed, element)"
    >
      {{ element.displayName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="regex">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Regex</th>
    <td
      class="is-editable"
      [ngClass]="{ 'blurry-text': blur }"
      mat-cell
      *matCellDef="let element"
      (click)="editPattern(feed, element)"
    >
      {{ element.regex }}
    </td>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Enabled</th>
    <td class="is-editable" mat-cell *matCellDef="let element" (click)="editPattern(feed, element)">
      {{ element.enabled }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button class="is-pulled-right" mat-icon-button (click)="deletePattern(feed, element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
