<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="match">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Matched</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.match" matTooltip="Matches a pattern" class="padding-5px">done</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
    <td [ngClass]="{ 'blurry-text': blur }" mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Size</th>
    <td mat-cell *matCellDef="let element">{{ element.size | fileSize }}</td>
  </ng-container>

  <ng-container matColumnDef="pubDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Published</th>
    <td mat-cell *matCellDef="let element">{{ element.pubDate | amTimeAgo }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
