table {
  width: 100%;
}

th {
  font-size: 13px;
  font-weight: 400;
}

th,
td {
  display: table-cell !important;
  vertical-align: middle !important;
}

.is-editable {
  &:hover {
    cursor: pointer;
  }
}
